/*
 * Salsify Connect administration styling. Mostly tweaks on the OOTB admin form
 * style that comes with Magento.
 */

form#salsify_configuration_edit_form,
form#salsify_configuration_edit_form fieldset,
form#salsify_configuration_edit_form fieldset table,
form#salsify_configuration_edit_form fieldset table tbody,
form#salsify_configuration_edit_form fieldset table tbody tr, {
  width: 100%;
  padding-left: 0;
  padding-right:0;
}

form#salsify_configuration_edit_form fieldset table tbody tr td.label {
  text-align: right;
  width:25%;
  padding-left: 0;
  padding-right: 1em;
}

form#salsify_configuration_edit_form fieldset table tbody tr td.input-ele {
  /* eyeball that this is reasonable-looking */
  min-width: 30em;
}
form#salsify_configuration_edit_form fieldset table tbody tr td.input-ele input {
  min-width: 30em;
}

#get-salsify {
  width: 100%;
  padding: 1em;
  margin-top: 2em;
}
#get-salsify h3 {
  font-style: italic;
}

#salsify-connect-menu a {
  text-decoration: none;
}
#salsify-connect-menu>.active {
  background-color:#eee;
  font-weight: bold;
}