/*
 * Salsify Connect administration styling.
 */

form#salsify_configuration_edit_form,
form#salsify_configuration_edit_form fieldset,
form#salsify_configuration_edit_form fieldset table,
form#salsify_configuration_edit_form fieldset table tbody,
form#salsify_configuration_edit_form fieldset table tbody tr, {
  width: 100%;
  padding-left: 0;
  padding-right:0;
}

form#salsify_configuration_edit_form fieldset table tbody tr td.label {
  text-align: right;
  width:25%;
  padding-left: 0;
  padding-right: 1em;
}

form#salsify_configuration_edit_form fieldset table tbody tr td.input-ele {
  /* eyeball that this is reasonable-looking */
  min-width: 50em;
}
form#salsify_configuration_edit_form fieldset table tbody tr td.input-ele input {
  min-width: 50em;
}