<?xml version="1.0" encoding="UTF-8"?>
<config>

  <!-- FIXME need to add dependencies for ApiImport -->

  <modules>
    <Salsify_Connect>
      <version>0.0.1</version>
    </Salsify_Connect>
  </modules>


  <global>
    <helpers>
      <salsify_connect>
          <class>Salsify_Connect_Helper</class>
      </salsify_connect>
    </helpers>

    <models>
      <salsify_connect>
        <class>Salsify_Connect_Model</class>
        <resourceModel>salsify_connect_resource</resourceModel>
      </salsify_connect>
      <salsify_connect_resource>
        <class>Salsify_Connect_Model_Resource</class>
        <entities>
          <configuration>
            <table>salsify_connect_configuration</table>
          </configuration>
          <import_run>
            <table>salsify_connect_import_run</table>
          </import_run>
        </entities>
      </salsify_connect_resource>
    </models>

    <resources>
      <salsify_connect_setup>
        <setup>
          <module>Salsify_Connect</module>
          <class>Salsify_Connect_Model_Resource_Setup</class>
        </setup>
      </salsify_connect_setup>
    </resources>

    <!-- FIXME finish the eventing system -->
    <events>
      <catalog_product_save_after>
        <observers>
          <salsify_connect>
            <class>salsify_connect/observer</class>
            <method>logUpdate</method>
            <type>singleton</type>
          </salsify_connect>
        </observers>
      </catalog_product_save_after>
    </events>

  </global>


  <!-- TODO remove once admin panel is in place
  <frontend>
    <routers>
      <salsify_connect>
        <use>standard</use>
        <args>
          <module>Salsify_Connect</module>
          <frontName>salsify</frontName>
        </args>
      </salsify_connect>
    </routers>
  </frontend>
  -->

  <admin>
    <routers>
      <salsify_route_unique_id>
        <use>admin</use>
        <args>
          <module>Salsify_Connect</module>
          <frontName>salsify</frontName>
        </args>
      </salsify_route_unique_id>
    </routers>
  </admin>

</config>
